.signup-right-cover {
  background-image: url("/images/login-cover.png");
  background-size: cover;
}

.signup-btn {
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  z-index: 1;
}

.signup-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3744f8;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
  z-index: -1;
}

.signup-btn:hover::before {
  transform: scaleX(1);
}

.signup-btn:hover {
  font-weight: 700;
}

.signup-btn:hover .signup-btn-icon {
  transform: translateX(1px);
}
